---
layout: default
title: "TIL Calendar"
---
<div id='calendar'></div>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.0/main.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.0/main.min.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [] // GitHub API에서 가져온 데이터가 여기에 들어감
    });
    calendar.render();

    const username = 'durumi922'; // GitHub 사용자명
    const repo = 'durumi922.github.io'; // 리포지토리 이름
    const apiURL = `https://api.github.com/repos/${username}/${repo}/contents/`;

    fetch(apiURL)
      .then(response => response.json())
      .then(data => {
        const events = data
          .filter(file => file.name.includes('til'))
          .map(file => {
            const dateParts = file.name.split('-');
            const date = `${dateParts[0]}-${dateParts[1]}-${dateParts[2]}`;
            return { title: 'TIL 작성', start: date };
          });

        events.forEach(event => {
          calendar.addEvent(event);
        });
      })
      .catch(error => console.error('Error fetching files:', error));
  });
</script>
